@{
    ViewBag.Title = "Chapter 1";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<aside>
    <h3>SVG</h3>
    <p>Chapter 1 Deep Dive.</p>
</aside>

<svg xmlns="http://www.w3.org/2000/svg">
    <title>Collage involving &lt;rect&gt; , &lt;circle&gt; and &lt;ellipse&gt; </title>

    <circle cx="50%" cy="50%" 
        r="20%"
        fill="none" 
        stroke="#e60" stroke-width="25" />
    
    <rect x="10%" y="50%" 
        width="80%" height="10%" 
        fill="#8ff" 
        stroke="black" stroke-width="6" />
    
    <ellipse cx="50%" cy="50%" 
        rx="10%" ry="40%"
        fill="yellow" fill-opacity=".45" 
        stroke="purple" stroke-width="15" />       
</svg>